header{
	background: #4e6978;
	height: 600px;
	font-family: 'Raleway', sans-serif;
}
/*clases generales*/
.large{
	padding-top: 25px;
}
.margin{
	margin-left: 30px;
	margin-top: 30px;
}
.abajo{
	margin-bottom: 100px;
}
.separacion{
	margin-top: 80px;
}
.separacion2{
	margin-top: 80px;
}
.lejos{
	margin-top: 30px;
}
.distancia{
	margin-top: 40px;
}
/* Menu*/
.container-menu{
	width: 100%;
	height: 600px;
	background: gray;
	position: fixed;
	opacity: .9;
	top: 0;
	left: 0;

}
.redes-close font{
	position: absolute;
	right: 20px;
	color: white;
	font-size: 30px;
	cursor: pointer;
	transition: all 300ms;
}
.redes-close font:hover{
	transform: rotate(180deg);
}
.container-menu ul{
	margin-top: 40px;
	margin-left: 20px;
}
.container-menu ul li{
	text-align: center;
	list-style: none;
	padding: 10px;
}
.container-menu ul li a{
	
	color: white;
	font-size: 28px;
	text-decoration: none;
	position: relative;

}
.container-menu ul li a:before{
	content: "";
	position: absolute;
	bottom: -10px;
	width: 0px;
	height: 2px;
	background: white;
	transition: all 300ms;
}
.container-menu ul li a:hover:before{
	width: 120%;

}
/*edicion del nav*/
#logo{
	padding-left: 200px;
}
#menu{
	padding-right: 200px;
}
/*titulo*/
#title{
	font-size: 52px;
	letter-spacing: 10px;
	color: white;
}
#title:after, #title:before{
	content: "";
	width: auto;
	height: 2px;
	background: white;
	display: block;
	margin: auto auto;
}
/*subtitulo*/
ol{
	margin-left: -20px;
}
ol li{
	font-size: 18px;
	padding-right: 8px;
	display: inline-block;
	color: white;

}

/* descripcion*/
#man{
	margin-top: 100px;
}
#sub{
	margin-top: 200px;
	margin-bottom: 25px;
}
#parrafo{
	margin-bottom: 25px;
}
#boton{
	margin-top: 50px;
	background: #ff2b4a;
	color: #fff;
	text-align: center;
	display: block;
	width: 175px;
	height: 45px;
	padding: 8px 0;
	font-weight: normal;
	font-size: 16px;
}
#boton:hover{
	text-decoration: none;
	background: blue;
	color: white;
}
/*working*/
#working{
	background: #f6f6f6;
}
.rectangulo1{
	background: #10c6fc;
	height: 270px;
	width: 270px;
	margin-bottom: 80px;
	margin-top: 40px;
}
.rectangulo2{
	background: #835aeb;
	height: 270px;
	width: 270px;
	margin-top: 40px;
}
.rectangulo3{
	background: #002453;
	height: 270px;
	width: 270px;
	margin-top: 40px;
}
.rectangulo4{
	background: #ff2b4a;
	height: 270px;
	width: 270px;
	margin-top: 40px;
}
.rectangulo5{
	background: #835aeb;
	height: 270px;
	width: 555px;
	margin-top: -60px;
	margin-bottom: 80px;
}
.rectangulo33{
	background: #002453;
	height: 270px;
	width: 270px;
	margin-top: -60px;
}
.rectangulo44{
	background: #ff2b4a;
	height: 270px;
	width: 270px;
	margin-top: -60px;
}
.icono1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
i{
	font-size: 30px;
	margin-bottom: 30px;
	color: white;
}
/*historia*/
#historia{
	background: #4e6978;
}
.wrapper{
	background: #64657d;
}
#subtitulo{
	margin-top: 30px;
}
/*testimonial*/
#testimonial{
	background: #64cbc0;
}
#horizontal:after{
	margin-top: 25px;
	content: "";
	display:block;
	background: white;
	width: 480px;
	height: 2px;
}
/*formulario*/
/*Estilos de la seccion formulario*/

#bg2{
	background:  #4e6978;;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}
.bg3{
	background: #5a657e;
}
#titulo{
	margin-top: 40px;
	margin-left: 18px;
}
.caja{
	color: white;
	margin-top: 15px;
	background: none;
	border: solid white 1px;
	width: 495px;
	height: 40px;
	margin-left: 18px;
}
.caja2{
	color: white;
	margin-top: 15px;
	background: none;
	border: solid white 1px;
	width: 495px;
	height: 240px;
	margin-left: 18px;
}
#pnombre::placeholder {
        color: white;
}
#distancia2{
    margin-left: 338px;
    margin-top: 21px;
    margin-bottom: 42px;
}
/*segundos formularios*/
.bg4{
	background: #5a657e;
	margin-bottom: 15px;
	height: 192px;
	color: white;
}
.margenes{
	padding-top: 45px;
	margin-left: 25px;
}
#contenido{
	padding-top: 15px;
	margin-left: 25px;
}
/*segundos formularios*/
.bg4{
	background: #5a657e;
	margin-bottom: 15px;
	height: 192px;
	color: white;
}
#title{
	padding-top: 45px;
	margin-left: 25px;
}
#contenido{
	padding-top: 15px;
	margin-left: 25px;
}
.editar{
	margin-left:340px;
}
/*estilos del footer*/
footer{
	background: #222222;
}
i{
	font-size: 25px;
}
.vertical:after{
	margin-top: 40px;
	margin-left: 15px;
	margin-right: 15px;
	display: inline-block;
	content: "";
	width: 2px;
	height: 20px;
	background: white;

}
#final{
	margin-bottom: 40px;
}