*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* estos son todos los estilos del header*/
header{
	background: url("img/bg-header.jpg");
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	font-family: 'Raleway', sans-serif;
}
main{
	font-family: 'Roboto', sans-serif;
}
.separacion{
	margin-top: 80px;
}
.separacion2{
	margin-top: 100px;
}
.icono-menu{
	font-size: 50px;
	color: white;
	cursor: pointer;

}
#arreglo{
	padding-top: 25px;
	padding-left: 150px;
}
#arreglo2{
	padding-right: 150px;
}
ol li{
	display: inline-block;
	padding: 15px;
	padding-top: 3px;
	color: white;
	font-size: 22px;
	margin-left: -15px;
}
/* Menu*/
.container-menu{
	width: 100%;
	height: 660px;
	background: gray;
	position: fixed;
	opacity: .9;
	top: 0;
	left: 0;

}
.redes-close font{
	position: absolute;
	right: 20px;
	color: white;
	font-size: 30px;
	cursor: pointer;
	transition: all 300ms;
}
.redes-close font:hover{
	transform: rotate(180deg);
}
.container-menu ul{
	margin-top: 40px;
	margin-left: 20px;
}
.container-menu ul li{
	text-align: center;
	list-style: none;
	padding: 10px;
}
.container-menu ul li a{
	color: white;
	font-size: 28px;
	text-decoration: none;
	position: relative;

}
.container-menu ul li a:before{
	content: "";
	position: absolute;
	bottom: -10px;
	width: 0px;
	height: 2px;
	background: white;
	transition: all 300ms;
}
.container-menu ul li a:hover:before{
	width: 120%;

}
/* paul lapkin*/
.letras{
	font-size: 60px;
	letter-spacing: 14px;
	color: white;
}
#decoracion:after, #decoracion:before{
	content: "";
	width: 535px;
	height: 2px;
	background: white;
	display: block;
	margin: auto auto;
}
/*Estilos de la seccion descripcion*/
#top{
	margin-top: 150px;
}
#distancia{
	margin-top: 20px;
}
.separacion{
	margin-top: 50px;
}
.editar{
	padding-top: px;
	background: #ff2b4a;
	color: #fff;
	text-align: center;
	display: block;
	width: 175px;
	height: 45px;
	padding: 8px 0;
	font-weight: normal;
	font-size: 16px;
}
.editar:hover{
	text-decoration: none;
	background: blue;
	color: white;
}
/*Estilo Seccion Historia*/
#section3{
	background: url("img/bg-header.jpg");
	height: 650px;
}
#large{
	margin-top: 35px;
	margin-bottom: 45px;
	margin-left: 20px;
}
#centradito{
	margin-left: 20px;
}
.horizontal:after{
	margin-top: 15px;
	content: "";
	width: 400px;
	height: 2px;
	background: white;
	display: block;
}
/*Estilos Seccion my working*/
#bg{
	background: #f6f6f6;
}
.rectangulo1{
	background: #10c6fc;
	height: 270px;
	width: 270px;
	margin-bottom: 80px;
	margin-top: 40px;
}
.rectangulo2{
	background: #835aeb;
	height: 270px;
	width: 270px;
	margin-top: 40px;
}
.rectangulo3{
	background: #002453;
	height: 270px;
	width: 270px;
	margin-top: 40px;
}
.rectangulo4{
	background: #ff2b4a;
	height: 270px;
	width: 270px;
	margin-top: 40px;
}
.icono1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
i{
	font-size: 30px;
	margin-bottom: 30px;
	color: white;
}
/*Estilos de la seccion my lastest work*/
.flex{
	display: flex;
}
.rectangulo5{
	background: #835aeb;
	height: 270px;
	width: 555px;
	margin-top: -60px;
	margin-bottom: 80px;
}
.rectangulo33{
	background: #002453;
	height: 270px;
	width: 270px;
	margin-top: -60px;
}
.rectangulo44{
	background: #ff2b4a;
	height: 270px;
	width: 270px;
	margin-top: -60px;
}
/*Estilos de la seccion de testimoniales*/
#testimonial{
	background: #64cbc0;
}
#fuente{
	margin-top: 40px;
}
#fuente2{
	padding-top: 40px;
}
#top{
	padding-top: 40px;
}
#comilla{
	margin-top: 180px;
}
#abajo{
	margin-bottom: 80px;
}
/*Estilos de la seccion formulario*/
#bg2{
	background: url("img/bg-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}
.bg3{
	background: #5a657e;
}
#titulo{
	margin-top: 40px;
	margin-left: 18px;
}
.caja{
	color: white;
	margin-top: 15px;
	background: none;
	border: solid white 1px;
	width: 495px;
	height: 40px;
	margin-left: 18px;
}
.caja2{
	color: white;
	margin-top: 15px;
	background: none;
	border: solid white 1px;
	width: 495px;
	height: 240px;
	margin-left: 18px;
}
#pnombre::placeholder {
        color: white;
}
#distancia2{
    margin-left: 338px;
    margin-top: 21px;
    margin-bottom: 42px;
}
/*segundos formularios*/
.bg4{
	background: #5a657e;
	margin-bottom: 15px;
	height: 192px;
	color: white;
}
#title{
	padding-top: 45px;
	margin-left: 25px;
}
#contenido{
	padding-top: 15px;
	margin-left: 25px;
}
/*estilos del footer*/
footer{
	background: #222222;
}
i{
	font-size: 25px;
}
.vertical:after{
	margin-top: 40px;
	margin-left: 15px;
	margin-right: 15px;
	display: inline-block;
	content: "";
	width: 2px;
	height: 20px;
	background: white;

}
#final{
	margin-bottom: 40px;
}


/*					rem
					h5{font-size: 20px;}
					h5{font-size: 20px;}
					@media screen and (max-width: 992px){
					
				}*/