*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* estos son todos los estilos del header*/
header{
	background: url("img/bg-header.jpg");
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	font-family: 'Raleway', Bold;
}
.separacion{
	margin-top: 80px;
}
.separacion2{
	margin-top: 100px;
}
.icono-menu{
	font-size: 50px;
	color: white;
	cursor: pointer;

}
#arreglo{
	padding-top: 25px;
	padding-left: 150px;
}
#arreglo2{
	padding-right: 150px;
}
ol li{
	display: inline-block;
	padding: 15px;
	padding-top: 3px;
	color: white;
	font-size: 26px;
	margin-left: -15px;
	font-family: 'Roboto', Light; 
}
/* Menu*/
.container-menu{
	width: 100%;
	height: 87vh;
	background: gray;
	position: fixed;
	opacity: .9;
	top: 0;
	left: 0;

}
.redes-close font{
	position: absolute;
	right: 20px;
	color: white;
	font-size: 30px;
	cursor: pointer;
	transition: all 300ms;
}
.redes-close font:hover{
	transform: rotate(180deg);
}
.container-menu ul{
	margin-top: 40px;
	margin-left: 20px;
}
.container-menu ul li{
	text-align: center;
	list-style: none;
	padding: 10px;
}
.container-menu ul li a{
	color: white;
	font-size: 28px;
	text-decoration: none;
	position: relative;

}
.container-menu ul li a:before{
	content: "";
	position: absolute;
	bottom: -10px;
	width: 0px;
	height: 2px;
	background: white;
	transition: all 300ms;
}
.container-menu ul li a:hover:before{
	width: 120%;

}
/* paul lapkin*/
.letras{
	font-size: 60px;
	letter-spacing: 14px;
	color: white;
}
#decoracion:after, #decoracion:before{
	content: "";
	width: 535px;
	height: 2px;
	background: white;
	display: block;
	margin: auto auto;
}
/* Aqui terminan los Estilos del header*/
/*Estilos de la seccion de testimoniales*/
#testimonial{
	background: #64cbc0;
}
#fuente{
	margin-top: 40px;
	font-family: 'Roboto', Regular;
}
#fuente2{
	padding-top: 40px;
	font-family: 'Roboto', Bold;
}
#top{
	padding-top: 40px;
}
#comilla{
	margin-top: 180px;
}

/*aqui termina la seccion de testimoniales*/
/*edicion responsive de todo el header para dispositivos muy pequeños*/

@media (max-width: 575.98px) { 
/*edicion responsive del nav*/	
	#arreglo{
	padding-top: 55px;
	padding-left: 75px;
	}
	#arreglo2{
		padding-top: 35px;
		padding-right: 75px;	
	}
	.separacion{
		margin-top: 20px;
	}
/*edicion responsive del carrusel*/	
	.separacion2{
		margin-top: 150px;
	}
	.letras{
		font-size: 40px;
		letter-spacing: 8px;
		color: white;
	}
	#decoracion:after, #decoracion:before{
		content: "";
		width: 77%;
		height: 2px;
		background: white;
		display: block;
		margin: auto auto;
	}
	ol li{
		display: inline-block;
		padding: 7px;
		padding-top: 1.5px;
		color: white;
		font-size: 17px;
		margin-left: -7px;
		font-family: 'Roboto', Light; 
	}
	/*edicion responsive de testimoniales*/
}
/*edicion responsive de todo el header para dispositivos pequeños*/
@media (max-width: 768px) { 
	/*edicion responsive del nav*/	
	#arreglo{
	padding-top: 55px;
	padding-left: 55px;
	}
	#arreglo2{
		padding-top: 35px;
		padding-right: 55px;	
	}
	.separacion{
		margin-top: 10px;
	}
	
}	