@media screen and (max-width: 768px){

header{
	background: url("img/bg-header.jpg");
	height: 659px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	font-family: 'Raleway', sans-serif;
}
.separacion{
	margin-top: 70px;
}
.separacion2{
	margin-top: 150px;
}
#arreglo{
	padding-top: 25px;
	padding-left: 100px;
}
#arreglo2{
	padding-right: 100px;
}
/* paul lapkin*/
.letras{
	letter-spacing: 18px;
	color: white;
}
#decoracion:after, #decoracion:before{
	content: "";
	width: 560px;
	height: 2px;
	background: white;
	display: block;
}
ol li{
	display: inline-block;
	padding: 15px;
	padding-top: 3px;
	color: white;
	font-size: 22px;
	margin-left: -15px;
}
}